body {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #4B4B4B;
}

input, button {
    padding: 15px;
    border: none;
    font-size: inherit;
}

ul {
    list-style: none;
}

li {
    display: flex;
    align-content: top;
}

input {
    border: none;
    border-bottom: 1px solid #bdc3c7;
    color: inherit;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

input[type="checkbox"]:active,
input[type="checkbox"]:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"]:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
}

input[type="checkbox"]:checked:after {
    content: '\2714';
    font-size: 25px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #99a1a7;
}

button {
    color: #FFF;
    background: #3498db;
    font-size: inherit;
}

button:hover {
    background: #2980b9;
}

.form-group {
    max-width: 800px;
    display: flex;
}

.todo {
    font-size: 34px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.todo--completed {
    font-size: 28px;
    color: #95a5a6;
    text-decoration: line-through;
}